<a href="https://colab.research.google.com/github/Jerdows/Prendendo-Python/blob/main/Untitled8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
data = {
    'nome':['produto A', 'produto B', 'produto C','produto A','produto E'],
    'quantidade de itens comprados': [3,1,4,3,2],
    'tipo de item': ['Eletrônico', 'Vestuário','Alimento',' Eletrônico',' Alimento'],
    'receita total':[120,80,60,120,90]
}
df = pd.DataFrame(data)
print(df)

        nome  quantidade de itens comprados tipo de item  receita total
0  produto A                              3   Eletrônico            120
1  produto B                              1    Vestuário             80
2  produto C                              4     Alimento             60
3  produto A                              3   Eletrônico            120
4  produto E                              2     Alimento             90

In [12]:
df.drop_duplicates(keep='last',inplace=True)
print(df)

        nome  quantidade de itens comprados tipo de item  receita total
0  produto A                              3   Eletrônico            120
1  produto B                              1    Vestuário             80
2  produto C                              4     Alimento             60
3  produto A                              3   Eletrônico            120
4  produto E                              2     Alimento             90

In [13]:
df['preço do item']= df['receita total']/df['quantidade de itens comprados']

itens_acima_de_50 = df[df['preço do item']>50]

print ('itens acima de 50 reais:')
print(itens_acima_de_50)

itens acima de 50 reais:
        nome  quantidade de itens comprados tipo de item  receita total  \
1  produto B                              1    Vestuário             80

   preço do item
1           80.0