<a href="https://colab.research.google.com/github/Jerdows/Prendendo-Python/blob/main/Untitled9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import sqlite3
#conectar ao banco de dados SQLite ( ou criá-lo se não existir)
conn = sqlite3.connect('test.db')

In [16]:
#criar a atabela de funcionarios
cursor = conn.cursor()
cursor.execute('''
  CREATE TABLE IF NOT EXISTS funcionarios (
    id INTEGER PRIMARY KEY,
    nome TEXT,
    cargo TEXT,
    salario REAL
  )
  ''')

In [19]:
#inserir funcionario na tabela
novo_funcionario = (2, 'Joaozinho','Analista',5000.00)
cursor.execute('INSERT INTO funcionarios VALUES (?,?,?,?)',novo_funcionario)
conn.commit()

In [20]:
novo_funcionario = (3,'Maria','Gerente',9000.00)
cursor.execute('INSERT INTO funcionarios VALUES (?,?,?,?)', novo_funcionario)
conn.commit()

In [26]:
#consultar e exibir funcionários
cursor.execute('SELECT*FROM funcionarios')
funcionarios = cursor.fetchall()
print('Funcionários Cadastrados:')
for funcionario in funcionarios:
  print(funcionario)

Funcionários Cadastrados:
(2, 'Joaozinho', 'Analista', 5000.0)
(3, 'Maria', 'Gerente', 9000.0)

In [24]:
#atualizar informaçoes de um funionário
atualizacao = ('Joao Silva',5500.00,1)
cursor.execute('UPDATE funcionarios SET nome = ?, salario = ? WHERE id = ?',atualizacao)
conn.commit()

In [25]:
# Deletar um funcioário da tabela
id_funcionario_para_deletar = 1
cursor.execute('DELETE FROM funcionarios WHERE id = ?', (id_funcionario_para_deletar,))
conn.commit()